---
import { basics } from "@cv-en";

const { summary } = basics;
---

<section class="flex flex-col gap-1 mr-1">
    <h1 class="text-xl font-semibold">About me</h1>
    <p class="text-sm">{summary}</p>
</section>
