---
import LayoutCv from "../layouts/LayoutCv.astro";
import Hero from "@/cvComponents/Hero.astro";
import SideBar from "@/cvComponents/SideBar.astro";
import MainContent from "@/cvComponents/MainContent.astro";
---

<LayoutCv title="Minimalist Portfolio & CV">
    <main
        class="w-full md:w-[900px] flex flex-col items-center justify-start px-4 md:px-8 py-4 space-y-8 mt-2 md:mt-12 md:border-x md:border-gray-300"
    >
        <Hero />
        <div class="flex flex-col md:flex-row w-full justify-between gap-2">
            <MainContent />
            <SideBar />
        </div>
    </main>
</LayoutCv>
