---
import Layout from "../layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Experience from "@/components/Experience.astro";
---

<Layout title="Minimalist Portfolio & CV">
    <main class="max-w-[720px] mx-auto px-4 md:px-8 py-4 space-y-8 mt-12">
        <Hero />
        <Experience />
    </main>
</Layout>

<style></style>
