---
import World from "@/icons/World.astro";
---

<a
    href="/cven"
    rel="noopener noreferrer"
    class="w-8 h-8 hover:scale-110 transition fixed top-5 right-5"
>
    <World class="w-6 h-6" currentColor="#acacac" />
</a>
