---
import { languages } from "@cv";
---

<section class="flex flex-col gap-1">
    <h1 class="text-lg font-semibold">Idiomas</h1>
    {
        languages.map((language, index) => (
            <div class="flex flex-row justify-between">
                <h2 class="text-sm font-semibold opacity-90">
                    {language.language}
                </h2>
                <p class="text-sm">{language.fluency}</p>
            </div>
        ))
    }
</section>
