---
import Summary from "@/cvComponents/Summary.astro";
import Experience from "./Experience.astro";
---

<section class="w-2/3 gap-4 flex flex-col border-r border-gray-300">
    <Summary />
    <Experience />
</section>
