---
import Summary from "@/cvComponents/Summary.astro";
import Experience from "./Experience.astro";
---

<section class="md:w-2/3 gap-4 flex flex-col md:border-r md:border-gray-300">
    <Summary />
    <Experience />
</section>
