---
import Education from "./Education.astro";
import Skills from "./Skills.astro";
import Languages from "./Languages.astro";
import Competences from "./Competences.astro";
import Projects from "./Projects.astro";
import Certificates from "./Certificates.astro";
---

<section class="w-1/3 flex flex-col gap-2">
  <Education />
  <Projects />
  <Skills />
  <Certificates />
  <Languages />
  <Competences />
</section>
